.loading_image
.header
  .header__left
    portfolio
  .header__right
    .header__right__menu.menu_1
      Profile
    .header__right__menu.menu_2
      Skill
    .header__right__menu.menu_3
      Works
    .header__right__menu.menu_4
      Contact
.content
  .content__home#content_home
    .content__home__title
      portfolio
    .content__home__menu
      .content__home__menu__item.menu_1
        Profile
      .content__home__menu__slash
        &#47;
      .content__home__menu__item.menu_2
        Skill
      .content__home__menu__slash
        &#47;
      .content__home__menu__item.menu_3
        Works
      .content__home__menu__slash
        &#47;
      .content__home__menu__item.menu_4
        Contact
  .content__box#box_1
    .content__box__left
      .content__home__title#black
        Profile
      .content__home__menu
        .content__home__menu__item.menu_1.selected#black
          Profile
        .content__home__menu__slash#black
          &#47;
        .content__home__menu__item.menu_2#black
          Skill
        .content__home__menu__slash#black
          &#47;
        .content__home__menu__item.menu_3#black
          Works
        .content__home__menu__slash#black
          &#47;
        .content__home__menu__item.menu_4#black
          Contact
    .content__box__right
      .content__box__right__top
        .content__box__right__top__image
        .content__box__right__top__profile
          名前：中島 大介
          %br
          年齢：29
          %br
          出身：福岡県
          %br
          趣味：お酒を飲むこと
      .content__box__right__text
        はじめまして。中島大介と申します。
        %br
        前職ではスマートスピーカーに関するテストをやっておりました。テストをする中でプログラミングに興味が湧き、プログラミングスクール(TECH::EXPERT)で学習を始めて今に至ります。
        %br
        webアプリ制作における、データーベース設計からデプロイまでの一通りの内容を学習しました。重点的に学習した箇所はマークアップです。
  .content__box#box_2
    .content__box__left
      .content__home__title
        Skill
      .content__home__menu
        .content__home__menu__item.menu_1
          Profile
        .content__home__menu__slash
          &#47;
        .content__home__menu__item.menu_2.selected
          Skill
        .content__home__menu__slash
          &#47;
        .content__home__menu__item.menu_3
          Works
        .content__home__menu__slash
          &#47;
        .content__home__menu__item.menu_4
          Contact
    .content__box__right
      .title_box
        .skill_title#title_1
          フロントエンド
        .skill_title_slash
          &#47;
        .skill_title#title_2
          バックエンド
        .skill_title_slash
          &#47;
        .skill_title#title_3
          データベース
        .skill_title_slash
          &#47;
        .skill_title#title_4
          インフラ・サーバー
        .skill_title_slash
          &#47;
        .skill_title#title_5
          その他
      .skill_text#skill_text_1
        .skill_text__top
          フロントエンド
        .skill_text__bottom
          .skill_text__bottom__left
            ● HTML(haml)
            %br
            ● CSS(sass)
            %br
            ● javascript(jQuery)
          .skill_text__bottom__right
            ★★★☆☆
            %br
            ★★★☆☆
            %br
            ★★☆☆☆
        .skill_text__box
          HTML、CSSを使った基本的なビューの作成はある程度できるかと思います。JSを使った動的なものに関しては勉強中です。コードを短く書けるようになることが今後の課題です。
      .skill_text.skill_box_none#skill_text_2
        .skill_text__top
          バックエンド
        .skill_text__bottom
          .skill_text__bottom__left
            ● Ruby(Ruby on Rails)
          .skill_text__bottom__right
            ★★☆☆☆
        .skill_text__box
          ルーティングやコントローラーの設定など、初歩的なことでしたらある適度できるかと思います。
      .skill_text.skill_box_none#skill_text_3
        .skill_text__top
          データベース
        .skill_text__bottom
          .skill_text__bottom__left
            ● MySQL
          .skill_text__bottom__right
            ★☆☆☆☆
        .skill_text__box
          webアプリを作成する上で、テーブルやカラムの作成など初歩的なことは一通り行ましたが、あまり深く触れられていないため理解が浅いです。勉強中です。
      .skill_text.skill_box_none#skill_text_4
        .skill_text__top
          インフラ・サーバー
        .skill_text__bottom
          .skill_text__bottom__left
            ● AWS
            %br
            ● Heroku
          .skill_text__bottom__right
            ★☆☆☆☆
            %br
            ★☆☆☆☆
        .skill_text__box
          こちらもまだ勉強中です。本サイトはHerokuにてデプロイしました。
      .skill_text.skill_box_none#skill_text_5
        .skill_text__top
          その他
        .skill_text__bottom
          .skill_text__bottom__left
            ● git / GitHub(GitHub Desktop)
            %br
            ● Slack
            %br
            ● Trello
          .skill_text__bottom__right
            ★★☆☆☆
            %br
            ★★★☆☆
            %br
            ★☆☆☆☆
        .skill_text__box
          いずれもwebアプリ作成時に使用していたので、ある程度扱えるかと思います。slackに関しては前職でも使用しておりました。
  .content__box#box_3
    .content__box__left
      .content__home__title#black
        Works
      .content__home__menu
        .content__home__menu__item.menu_1#black
          Profile
        .content__home__menu__slash#black
          &#47;
        .content__home__menu__item.menu_2#black
          Skill
        .content__home__menu__slash#black
          &#47;
        .content__home__menu__item.menu_3.selected#black
          Works
        .content__home__menu__slash#black
          &#47;
        .content__home__menu__item.menu_4#black
          Contact
    .content__box__right.works_right
      .title_box.works_margin
        .works_title#title_6
          ポートフォリオサイト
        .works_title_slash
          &#47;
        .works_title#title_7
          チャットツール
        .works_title_slash
          &#47;
        .works_title#title_8
          フリマアプリ
        .works_title_slash
          &#47;
        .works_title#title_9
          ペット管理ツール
      .works_text#works_text_1
        .works_text__top
          ポートフォリオサイト
        .works_text__box
          .works_text__box__middle
            .works_text__box__middle__image
          .works_text__box__bottom
            %span{fontFamily: "'Alegreya Sans SC', sans-serif;", fontSize: "15px"} HTML(haml)&ensp;/&ensp;CSS(sass)&ensp;/&ensp;Ruby&ensp;/&ensp;Ruby on Rails&ensp;/&ensp;javascript(jQuery)&ensp;/&ensp;heroku
            %br
            %br
            本ポートフォリオサイトです。(制作期間：4日)
          = icon('fab', 'github', class: "works_text__github", id: "github_works_1")
      .works_text#works_text_2
        .works_text__top
          チャットツール
        .works_text__box
          .works_text__box__middle
            .works_text__box__middle__image
            .works_text__box__middle__mask#link_2
          .works_text__box__bottom
            %span{fontFamily: "'Alegreya Sans SC', sans-serif;"} HTML(haml)&ensp;/&ensp;CSS(sass)&ensp;/&ensp;Ruby&ensp;/&ensp;Ruby on Rails&ensp;/&ensp;javascript(jQuery)&ensp;/&ensp;MySQL&ensp;/&ensp;AWS
            %br
            %br
            プログラミングスクール(TECH::EXPERT)の課題で作成しました。
            %br
            データベース設計からデプロイまで一通り行いました。(制作期間：10日)
          = icon('fab', 'github', class: "works_text__github", id: "github_works_2")
      .works_text#works_text_3
        .works_text__top
          フリマアプリ
        .works_text__box
          .works_text__box__middle
            .works_text__box__middle__image
            .works_text__box__middle__mask#link_3
          .works_text__box__bottom#text_box
            %span{fontFamily: "'Alegreya Sans SC', sans-serif;"} HTML(haml)&ensp;/&ensp;CSS(sass)&ensp;/&ensp;Ruby&ensp;/&ensp;Ruby on Rails&ensp;/&ensp;javascript(jQuery)&ensp;/&ensp;MySQL&ensp;/&ensp;AWS
            %br
            %br
            プログラミングスクール(TECH::EXPERT)の課題で、自分含む4名で作成しました。
            %br
            自分は主にフロントエンドを担当しております。(制作期間：3週間)
            %br
            %br
            ■ ログイン
            %br
            ユーザー名: admin
            %br
            パスワード: 2222
            %br
            %br
            ■ 購入用アカウント
            %br
            メールアドレス: gama-1@gmail.com
            %br
            パスワード: 1111aaaa
            %br
            %br
            ■ 購入用カード情報
            %br
            番号：4242424242424242
            %br
            期限：~
            %br
            ユーザー名：~
            %br
            セキュリティコード：~
            %br
            %br
            ■ 出品用アカウント
            %br
            メールアドレス:  a1213@icloud.com
            %br
            パスワード: 1111aaaa
          = icon('fab', 'github', class: "works_text__github", id: "github_works_3")
          .works_text__box__bottom__mask#text_mask
            = icon('fas', 'caret-down')
      .works_text#works_text_4
        .works_text__top
          ペット管理ツール
        .works_text__box
          .works_text__box__middle
            .works_text__box__middle__image
          .works_text__box__bottom
            %span{fontFamily: "'Alegreya Sans SC', sans-serif;", fontSize: "15px"} HTML(haml)&ensp;/&ensp;CSS(sass)&ensp;/&ensp;Ruby&ensp;/&ensp;Ruby on Rails&ensp;/&ensp;MySQL
            %br
            %br
            ペットの管理ツールです。
            %br
            デプロイは行っておりません。詳細はGitHub > readmeをご確認ください。
          = icon('fab', 'github', class: "works_text__github", id: "github_works_4")
  .content__box#box_4
    .content__box__left
      .content__home__title
        Contact
      .content__home__menu
        .content__home__menu__item.menu_1
          Profile
        .content__home__menu__slash
          &#47;
        .content__home__menu__item.menu_2
          Skill
        .content__home__menu__slash
          &#47;
        .content__home__menu__item.menu_3
          Works
        .content__home__menu__slash
          &#47;
        .content__home__menu__item.menu_4.selected
          Contact
    .content__box__right.contact_box
      何かございましたら
      %br
      下記よりご連絡のほどよろしくお願いします！
      .icon_box
        = icon('far', 'envelope', class: "icon_box__icon", id: "mail")
        = icon('fab', 'github', class: "icon_box__icon", id: "github")
      .fukidashi_wrap
        .fukidashi_wrap__box#f_mail
          .fukidashi_top
          .fukidashi_bottom
            Gmail
        .fukidashi_wrap__box#f_github
          .fukidashi_top
          .fukidashi_bottom
            GitHub
.footer
  ©︎ 2020 Nakashima Daisuke